@import "./mixins.scss";
@import "./colors.scss";

.btn {
  color: inherit;
  text-transform: uppercase;
  font-size: 1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.4rem 1rem;
}
.primary {
  @include semiBoldFont(1rem);
  background-color: $green;
  color: black;
}

.back {
  float: left;
  background-color: transparent;
  color: white;
  border: 0.3px solid;
  transition: 0.3s;
  @include semiBoldFont(1rem);
  &:hover {
    transition: 0.3s;
  }
}
